{% extends 'layout/base.html' %}

{% block title %}Receptionist view{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}"/>
<link rel="stylesheet" href="{{ url_for('static', filename='css/receptionist/receptionist_page.css') }}"/>
<link rel="stylesheet" href="{{ url_for('static', filename='css/receptionist/tab_schedule.css') }}"/>
<link rel="stylesheet" href="{{ url_for('static', filename='css/receptionist/tab_profile.css') }}"/>
{% endblock %}

{% block hero %}
{% include 'layout/hero_in_role.html' %}
{% endblock %}

{% block content %}

{% block stats_cards %}
{% include 'layout/stats_cards.html' %}
{% endblock %}


<div class="card border-0 shadow-sm mt-4">
    <div class="card-body p-4">

        <ul class="nav nav-pills custom-tab-bar mb-4">

            <li class="nav-item">
                <a href="/receptionist?tab=schedule"
                   class="nav-link tab-text {{ 'active' if active_tab == 'schedule' else '' }}">
                    <i class="far fa-calendar-alt"></i> Tra cứu lịch hẹn
                </a>
            </li>

            <li class="nav-item">
                <a href="/receptionist?tab=profile"
                   class="nav-link tab-text {{ 'active' if active_tab == 'profile' else '' }}">
                    <i class="far fa-calendar-check"></i> Hồ sơ bệnh nhân
                </a>
            </li>

            <li class="nav-item ms-auto">
                <a href="/receptionist"
                   class="nav-link tab-button">
                    <i class="fas fa-file-medical me-2"></i> Đặt lịch khám mới
                </a>
            </li>
        </ul>

        <div class="tab-content">

            <div class="tab-pane fade {{ 'show active' if active_tab == 'schedule' else '' }}">
                {% if lich_hen %}
                {% include 'receptionist/tab_schedule.html' %}
                {% endif %}
            </div>

            <div class="tab-pane fade {{ 'show active' if active_tab == 'profile' else '' }}">
                {% if ho_so %}
                {% include 'receptionist/tab_profile.html' %}
                {% endif %}
            </div>

            <div class="tab-pane fade" id="pills-booking" role="tabpanel">
                <div class="alert alert-primary">Form đặt lịch...</div>
            </div>

        </div>

    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/service.js') }}"></script>
<script src="{{ url_for('static', filename='js/receptionist.js') }}"></script>
{% endblock %}