{% extends 'layout/base.html' %}

{% block title %}Receptionist view{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}"/>
{% endblock %}

{% block hero %}
{% include 'layout/hero_in_role.html' %}
{% endblock %}


{% block content %}
    <div class="btn-group mb-4">
        <button class="btn btn-primary"
                onclick="goToURL(this)"
                data-url="{{ url_for('receptionist_phieu_dieu_tri_search') }}">
            Tra cứu phiếu điều trị
        </button>

        <button class="btn btn-primary"
                onclick="goToURL(this)"
                data-url="{{ url_for('register_patient_view') }}">
            Tạo hồ sơ người dùng
        </button>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='js/service.js') }}"></script>
{% endblock %}