{% extends admin_base_template %}

{% block brand %}{% endblock %}
{% block main_menu %}{% endblock %}
{% block access_control %}{% endblock %}
{% block menu_links %}{% endblock %}

{% block head_css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/custom_admin.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
{% endblock %}

{% block page_body %}
<div class="d-flex" id="wrapper">

    <div class="bg-dental-dark border-right" id="sidebar-wrapper">
        <div class="sidebar-heading text-center py-4 primary-text fs-4 fw-bold text-uppercase border-bottom">
            <i class="fas fa-tooth me-2"></i> DentalFlow
        </div>

        <div class="list-group list-group-flush my-3">
            {% for item in admin_view.admin.menu() %}
            {% if item.is_category() %}
            <a href="#submenu{{ loop.index }}"
                class="list-group-item list-group-item-action bg-transparent second-text fw-bold"
                data-toggle="collapse">
                {{ item.name }}
            </a>
            <div class="" id="submenu{{ loop.index }}">
                {% for child in item.get_children() %}
                <a href="{{ child.get_url() }}"
                    class="list-group-item list-group-item-action bg-transparent text-small pl-5">
                    <i class="fas fa-caret-right"></i> {{ child.name }}
                </a>
                {% endfor %}
            </div>
            {% else %}
            {% if item.is_accessible() and item.is_visible() %}
            <a href="{{ item.get_url() }}"
                class="list-group-item list-group-item-action bg-transparent second-text {{ 'active' if item.is_active(admin_view) else '' }}">
                {{ item.name }}
            </a>
            {% endif %}
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <div id="page-content-wrapper">
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <button class="btn btn-primary" id="menu-toggle"><i class="fas fa-bars"></i></button>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item dropdown">
                        {% if current_user.is_authenticated %}
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown">
                            <i class="fas fa-user"></i> {{ current_user.name }}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/logout-admin">Đăng xuất</a>
                        </div>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container-fluid px-4 py-4">
            {{ super() }}
        </div>
    </div>
</div>
{% endblock %}