{% extends 'layout/base.html' %}

{% block styles %}
<!--    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}"/>-->
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}"/>
<link rel="stylesheet" href="{{ url_for('static', filename='css/treatment.css') }}"/>
{% endblock %}

{% block hero %}
{% include 'layout/hero_in_role.html' %}
{% endblock %}

{% block content %}
{% block stats_cards %}
{% include 'layout/stats_cards.html' %}
{% endblock %}

<div class="bg-white rounded-t-xl border border-gray-200 border-b-0">
    <div class="flex space-x-1 p-2 overflow-x-auto">
        <button data-tab="tab-today"
                class="tab-btn px-6 py-3 rounded-lg transition-all whitespace-nowrap text-gray-600 hover:bg-gray-100">
            <i class="fa-regular fa-calendar w-4 h-4 inline mr-2"></i>
            Lịch hôm nay
        </button>
        <button data-tab="tab-work"
                class="tab-btn px-6 py-3 rounded-lg transition-all whitespace-nowrap text-gray-600 hover:bg-gray-100">
            <i class="fa-regular fa-calendar-days w-4 h-4 inline mr-2"></i>
            Lịch làm việc
        </button>
        <button data-tab="tab-treatment"
                class="tab-btn px-6 py-3 rounded-lg transition-all whitespace-nowrap bg-blue-600 text-white shadow-md">
            <i class="fa-regular fa-file-lines w-4 h-4 inline mr-2"></i>
            Lập phiếu điều trị
        </button>
    </div>
</div>

<div class="bg-white rounded-b-xl border border-gray-200 p-6">
        {% include 'treatments/tab_schedule_today.html' %}


</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/create_treatment.js') }}"></script>
{% endblock %}