.upload-content {
    text-align: center;
    pointer-events: none;
}

.suggestion-item {
    cursor: pointer;
    border-left: none;
    border-right: none;
    transition: background 0.2s;
}
.suggestion-item:hover {
    background-color: #f8f9fa;
}

.load-more-btn {
    text-align: center;
    font-size: 0.9rem;
    color: #0d6efd;
    cursor: pointer;
    padding: 10px;
    background: #f1f5f9;
}
.load-more-btn:hover {
    background: #e2e8f0;
}


.customer-result-item {
    padding: 10px 15px;
    cursor: pointer;
    border-bottom: 1px solid #f1f5f9;
    transition: all 0.2s;
}

.customer-result-item:hover {
    background-color: #f0f9ff;
}


.avatar-circle {
    width: 40px;
    height: 40px;
    background-color: #e0e7ff;
    color: #4f46e5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 16px;
    margin-right: 12px;
}


.meta-text {
    font-size: 0.85rem;
    color: #64748b;
}

#searchResultBox {
    width: 100%;
    max-width: 100%;
    left: 0;
    right: auto;
    overflow-x: hidden;
}


.customer-result-item {
    white-space: normal !important;
    word-wrap: break-word;
}