
.custom-tab-bar {
    display: flex;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 15px;
}


.nav-pills .nav-link.tab-text {
    background: transparent !important;
    color: #6b7280;
    font-weight: 500;
    font-size: 1rem;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    border: none;
}

.nav-pills .nav-link.tab-text i {
    font-size: 1.1rem;
    margin-right: 8px;
    color: #4b5563;
}


.nav-pills .nav-link.tab-text.active {
    color: #2563eb !important;
    background: transparent !important;
}
.nav-pills .nav-link.tab-text.active i {
    color: #2563eb;
}



.nav-pills .nav-link.tab-button {
    background-color: #2563eb !important;
    color: white !important;
    font-weight: 600;
    padding: 10px 24px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(37, 99, 235, 0.2);
    transition: all 0.2s;
    display: flex;
    align-items: center;
}

.nav-pills .nav-link.tab-button:hover {
    background-color: #1d4ed8 !important;
    transform: translateY(-1px);
}


.nav-pills .nav-link.tab-button.active {
    background-color: #1e40af !important;
    box-shadow: inset 0 3px 5px rgba(0,0,0,0.2);

