:root {
    --main-bg-color: #2447e6;

    --active-color: white;

    --text-color: white;
}

body {
    overflow-x: hidden;
    background-color: #f4f6f9;
}

#wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}


#sidebar-wrapper {
    min-height: 100vh;
    min-width: 260px;

    max-width: 260px;
    background-color: var(--main-bg-color);
    color: var(--text-color);
    transition: all 0.3s;
}

.sidebar-heading {
    padding: 1.5rem 1.25rem;
    font-size: 1.2rem;
    color: var(--text-color);
}


.list-group-item {
    border: none;
    padding: 15px 20px;
    color: #b8b8b8;

    font-size: 0.95rem;
}

.list-group-item:hover {
    background-color: rgba(255, 255, 255, 0.1) !important;
    color: #fff;
}


.list-group-item.active {
    background-color: transparent !important;
    color: var(--active-color) !important;
    border-left: 4px solid var(--active-color);
}


.collapse .list-group-item {
    font-size: 0.85rem;
    padding-left: 3rem !important;

}


#page-content-wrapper {
    width: 100%;
}


footer {
    display: none;
}