.rounded-xl {
    border-radius: 20px !important;
    overflow: hidden;
}

.card-hover {
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}


.card-hover:hover {

    transform: translateY(-5px);


    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15) !important;


    cursor: pointer;
}

.tab-button {
    transition: all .8s !important;
}

.tab-button:hover {
    background-color: #f8f9fc !important;
    color: #4e73df;
}

.text-right {
    text-align: right;
}
