.navbar-custom {
    background-color: transparent !important; /* Nền trong suốt */
    width: 100%;
}
.navbar-brand-text {
    font-weight: 700;
    font-size: 1.2rem;
    color: #1a3a8a !important; /* Màu xanh logo */
}
.navbar-brand-sub {
    font-size: 0.8rem;
    color: #6c757d;
}