
.py-6 {
    padding: 1.5rem 0;
}

@media (min-width: 48rem) {
    .md\:py-8 {
        padding: 2rem 0;
    }
}

#btn-back-to-top {
    display: none; /* Mặc định ẩn */
    position: fixed; /* Ghim cố định */
    bottom: 20px; /* Cách đáy 20px */
    right: 30px; /* Cách phải 30px */
    z-index: 9999; /* Luôn nổi lên trên cùng */
    border: none;
    outline: none;
    background-color: #007bff; /* Màu xanh (tùy chỉnh) */
    color: white; /* Màu chữ */
    cursor: pointer;
    padding: 15px;
    border-radius: 50%; /* Bo tròn */
    font-size: 18px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Đổ bóng nhẹ */
    transition: background-color 0.3s, transform 0.3s;
}

#btn-back-to-top:hover {
    background-color: #0056b3; /* Màu khi di chuột vào */
    transform: translateY(-3px); /* Hiệu ứng nhồi nhẹ */
}