.py-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.rounded-lg {
  border-radius: var(--radius);
}

.py-3-05 {
  padding-top: 0.75rem !important;
  padding-bottom: 0.25rem !important;
}

.h-7-05 {
  height: 1.75rem;
}

.p-0-class-m{
  margin-bottom: 0.5rem;
}

.py-1-5 {
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
}

.time-btn {
  min-width: 72px;
}

.min-h-45{
  min-height: 45px;
}

.py-top-01{
  padding-top: 0.1rem;
}

.mt-2-5 {
  margin-top: 0.75rem; /* 0.5rem + 0.25rem */
}