{% extends 'layout/base.html' %}

{% block title %}Thanh toan hoa don{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/payment.css') }}"/>
{% endblock %}

{% block content %}

<div class="booking-header mb-4">
    <div class="container d-flex justify-content-between align-items-center">
        <a href="/" class="btn-back">
            <i class="fas fa-arrow-left me-2"></i> Quay lại
        </a>
        <div class="fw-bold text-primary fs-5">
            <i class="fas fa-tooth"></i> DENTALFLOW
        </div>
        <div style="width: 80px;"></div>
    </div>
</div>

<div class="card rounded-4 p-2">
  <div class="card-body ">
        <div class="fw-bold  fs-5 m-2">
          <i class="fa-solid text-primary fa-wallet"></i>
            <span class="fw-light text-primary">
                Thanh toan hoa don
            </span>
      </div>

    <form class="d-flex mt-3 " action="{{ url_for('payment_view') }}" role="search">
      <input class="form-control me-2" name="code" type="search" placeholder="Nhap ma so thanh toan" aria-label="Search">
      <button class="btn text-white btn-outline-success bg-primary" type="submit">Tim kiem</button>
    </form>
    {% if phieu_dieu_tri %}
          <div class="card mt-3">
            <div class="card-body">
              <h5 class="card-title">Phiếu điều trị</h5>
              <div><b>Mã số:</b> {{ phieu_dieu_tri.id }}</div>
              <div><b>Bệnh nhân:</b> {{ phieu_dieu_tri.ho_so_benh_nhan.ho_ten }}</div>
              <div><b>Tổng tiền:</b> {{ phieu_dieu_tri.dich_vu.don_gia }}</div>
            </div>
          </div>
         <div class="d-flex justify-content-end gap-2 mt-3">
          <button type="button" class="btn btn-success">
            Xác nhận thanh toán
          </button>
          <button type="button" class="btn btn-danger">
            Hủy xác nhận
          </button>
        </div>
        {% elif request.args.get('code') %}
          <div class="alert alert-warning mt-3">
            Không tìm thấy phiếu điều trị cho mã: {{ request.args.get('code') }}
          </div>
    {% endif %}
  </div>

</div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/payment.js') }}"></script>
{% endblock %}