<div class="card ">
    <div class="card-header fw-bold text-white bg-primary text-xl-center ">
        Tra cuu tai khoan nguoi dung (Optional)
    </div>
    <div class="card-body">
        <form class="d-flex mt-3 " action="" role="search">
            <input class="form-control me-2" name="code" type="search" placeholder="Nhap ho ten nguoi dung"
                   aria-label="Search">
            <input class="form-control me-2" name="code" type="search" placeholder="Nhap so dien thoai nguoi dung"
                   aria-label="Search">
            <button class="btn text-white btn-outline-success bg-primary" type="submit">Tim kiem</button>
        </form>
    </div>
</div>
