<div class="card border-0 ">
    <div class="card-body">
        <li class="list-group-item ">
            <h5 class="text-primary">Chi Tiết Hóa Đơn (2)</h5>
            <table class="table table-hover" style="width: 100%; border-collapse: collapse;">
                <thead style="border-bottom: 1px solid #eee;">
                <tr>
                    <th>Ngày</th>
                    <th>Bệnh nhân</th>
                    <th>Dịch vụ</th>
                    <th>Thuốc</th>
                    <th>Tổng</th>
                </tr>
                </thead>
                <tbody id="table-body-cthd" class="p-2">

                </tbody>

            </table>
        </li>
    </div>
    <div class="flex flex-column-reverse">

        <div id="paginate-numb-cthd"></div>

    </div>
</div>
