<div class="card rounded-xl mt-4 shadow-lg">
    <ul class="list-group  list-group-flush ">
        <li class="list-group-item ">
            <div class="p-2">
                <h5 class="text-primary">Thống kê theo bác sĩ</h5>
                <p class="text-muted">Chi tiết doanh thu từng bác sĩ</p>
            </div>
        </li>
        <li class="list-group-item ">
            <table class="table table-hover" style="width: 100%; border-collapse: collapse;">
                <thead style="border-bottom: 1px solid #eee;">
                <tr>
                    <th>Bác sĩ</th>
                    <th>Số lượt khám</th>
                    <th>Doanh thu</th>
                    <th>Trung bình/lượt</th>
                    <th>% Tổng DT</th>
                </tr>
                </thead>
                <tbody id="table-body" class="p-2">

                </tbody>
            </table>
        </li>
    </ul>
</div>