<div class="card border-0">
    <div class="card-body border-0 flex m-0 p-0 bg-white ">
        <div>
            <ul class="nav nav-pills">
                <li class="nav-item ">
                    <a href="/manager?tab=thong-ke"
                       class="nav-link tab-button">
                        <h5 class="text-primary m-0"><i class="fa fa-bar-chart" aria-hidden="true"></i> Thống kê doanh
                            thu
                        </h5>
                    </a>
                </li>
                <li class="nav-item ">
                    <a href="/manager?tab=nhan-vien"
                       class="nav-link tab-button">
                        <h5 class="text-primary m-0"><i class="fa-solid fa-user"></i> Nhân sự
                        </h5>
                    </a>
                </li>
            </ul>
        </div>

    </div>
</div>