<div class=" bg-white mb-0 border-top-0">
    <div class="row">
        <div class="col-lg-8 ">
            <div class="card shadow overflow-hidden rounded-xl">
                <div class="card-header bg-white border-0 py-3">
                    <h5 class="m-0 font-weight-bold text-primary">Doanh thu gần đây</h5>
                </div>
                <div class="card-body">
                    <div style="height: 400px;">
                        <canvas id="myLineChart"></canvas>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 ">
            <div class="card shadow rounded-xl">
                <div class="card-header bg-white border-0 py-3">
                    <h5 class="m-0 font-weight-bold text-primary">Tỷ trọng theo Bác sĩ</h5>
                </div>
                <div class="card-body ">
                    <div style="height: 400px; position: relative;">
                        <canvas id="chart-doctors"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>