<div class="col-md-12 col-lg-6">
    <div class="card m-2 mt-0 rounded-xl card-hover">
        <div class="card-header bg-primary bg-gradient text-white">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <h5 class="fw-light b  mb-0">
                        {{ phieu_dieu_tri.ho_so_benh_nhan.ho_ten }}
                    </h5>
                    <span class="badge bg-warning bg-gradient text-black-50 fw-light">Chờ thanh toán</span>
                </div>
                <div class="col-md-4 text-right">
                    Mã số phiếu: {{ phieu_dieu_tri.id }}
                </div>
            </div>

        </div>
        <div class="card-body">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <h5 class="fw-bold text-dark mb-1">
                        {{ phieu_dieu_tri.chi_tiet_dich_vu[0].dich_vu.ten_dich_vu }}
                    </h5>

                    <div class="d-flex text-muted small mt-2">
                        <div class="me-3">
                            <i class="fa fa-user-md me-1"></i>
                            {{ phieu_dieu_tri.bac_si.ho_ten }}
                        </div>
                        <div>
                            <i class="fa fa-clock-o me-1"></i>
                            {{ phieu_dieu_tri.ngay_cap_nhat }}
                        </div>
                    </div>
                </div>

                <div class="col-md-5 text-end border-start ps-3">
                    <span class="text-secondary small d-block">Tạm tính</span>
                    <span class="fs-4 fw-bold text-danger">
                                            <i class="fas fa-money-bill-wave me-2 fs-5"></i>{{ "{:,.0f}".format(phieu_dieu_tri.get_tong_tien).replace(',', '.') }} ₫
            </span>
                </div>
            </div>
        </div>
        <div class="card-footer p-0 border-0 bg-white text-right">
        <span type="button" class="btn btn-hover bg-primary rounded-pill m-2 text-white ">
            <a href="{{ url_for('cashier_thanh_toan', id=phieu_dieu_tri.id) }}" class="text-white text-decoration-none">Thanh toán</a></span>
        </div>
    </div>
</div>