{% extends 'layout/base.html' %}
{% from 'macros.html' import hero_in_role %}

{% block title %}Cashier view{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/booking.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/booking_2.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/booking_3.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/manager.css') }}"/>

{% endblock %}

{% block hero %}
    {% include 'layout/hero_in_role.html' %}
{% endblock %}

{% block content %}
    <div class="card border-0 rounded-xl shadow-sm mt-4">
        <div class="card-body  p-4">
            {% include 'cashier/tabs.html' %}
            {% include 'layout/phieu_dieu_tri_search_service.html' %}
        </div>

    </div>
    {% if active_tab == 'payment-history' %}
        {% if pagination_tt and pagination_tt.items %}

            {% include 'cashier/lich_su.html' %}
            {% if pagination_tt.pages > 1 %}
                <nav aria-label="Page navigation" class="mt-4 pb-5">
                    <ul class="pagination justify-content-center">
                        <li class="page-item {% if not pagination_tt.has_prev %}disabled{% endif %}">
                            <a class="page-link border-0 shadow-sm rounded-circle me-1"
                               href="{{ url_for('cashier_view', page_tt=pagination_tt.prev_num, tab='payment-history') if pagination_tt.has_prev else '#' }}">
                                <i class="fas fa-chevron-left"></i>
                            </a>
                        </li>

                        <li class="page-item active">
                                <span class="page-link border-0 shadow-sm rounded-pill px-3 mx-2">
                                    Trang {{ pagination_tt.page }} / {{ pagination_tt.pages }}
                                </span>
                        </li>

                        <li class="page-item {% if not pagination_tt.has_next %}disabled{% endif %}">
                            <a class="page-link border-0 shadow-sm rounded-circle ms-1"
                               href="{{ url_for('cashier_view', page_tt=pagination_tt.next_num, tab='payment-history') if pagination_tt.has_next else '#' }}">
                                <i class="fas fa-chevron-right"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            {% endif %}
        {% endif %}
    {% else %}
        {% if pagination and pagination.items %}
            {% include 'cashier/trang_cho_thanh_toan.html' %}

            {% if pagination.pages > 1 %}
                <nav aria-label="Page navigation" class="mt-4 pb-5">
                    <ul class="pagination justify-content-center">
                        <li class="page-item {% if not pagination.has_prev %}disabled{% endif %}">
                            <a class="page-link border-0 shadow-sm rounded-circle me-1"
                               href="{{ url_for('cashier_view', page=pagination.prev_num) if pagination.has_prev else '#' }}">
                                <i class="fas fa-chevron-left"></i>
                            </a>
                        </li>

                        <li class="page-item active">
                    <span class="page-link border-0 shadow-sm rounded-pill px-3 mx-2">
                        Trang {{ pagination.page }} / {{ pagination.pages }}
                    </span>
                        </li>

                        <li class="page-item {% if not pagination.has_next %}disabled{% endif %}">
                            <a class="page-link border-0 shadow-sm rounded-circle ms-1"
                               href="{{ url_for('cashier_view', page=pagination.next_num) if pagination.has_next else '#' }}">
                                <i class="fas fa-chevron-right"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            {% endif %}

        {% else %}
            <div class="text-center py-5 text-muted">
                <i class="fas fa-check-circle fa-3x mb-3 opacity-25"></i>
                <p class="fs-5">Hiện tại không có bệnh nhân nào chờ thanh toán.</p>
            </div>
        {% endif %}
    {% endif %}

{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='js/service.js') }}"></script>

{% endblock %}
